@{
    ViewBag.Title = "About";
}

<br/>
<h2>About The NGO</h2>
<br/>
<div>
    <p>SA Harvest is focused on addressing the systemic causes of hunger in South Africa. They are passionate about enlightening South Africans about
    food security, food waste etc in a bid to tackle the crisis that we battle with currently.</p>
    <br/>
    <p>Did you know?</p>
    <p>20 million people go to bed hungry every night in South Africa while 10 million tonnes of food (enough to feed these people three nutritious meals a day for over a year!) is wasted every year.</p>
    <br/>
    <p>SA Harvest focuses on solutions to minimize these discouraging statistics and change the way we think about the way we store, transport and use our food produce. </p>
</div>
<br/>
<br/>
<h4>For more information:</h4>
<br/>
<div>
    <h3>Website:</h3>
    <a href="https://saharvest.org/?gclid=Cj0KCQjwr4eYBhDrARIsANPywCj_MYvZrqYon2fkFS3SvVwZDw2hgp0g2iS9rPTeo7dLcc4kL-8g-xsaApAKEALw_wcB">SA Harvest</a>
</div>
