@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework 04</h1>
    <p class="lead">u20540176 - DG de Leeuw</p>
   
</div>
<h4>Goal 2: Zero Hunger</h4>
<h2>Narratives</h2>
<br/>
<div class="row">
    <div class="col-md-4">
        <img src="~/App_Data/Images/INF272 Narrative 1.jpg" alt="Narrative 1" />
    </div>
    <div class="col-md-4">
        <img src="~/App_Data/Images/INF272 Narrative 2.jpg" alt="Narrative 2" />
    </div>
    <div class="col-md-4">
        <img src="~/App_Data/Images/INF272 Narrative 3.jpg" alt="Narrative 3" />
    </div>
    <br />
    <h2>Class Diagram</h2>
    <br />
    <div class="col-md-4">
        <img src="~/App_Data/Images/INF272 HW04 Class diagram.jpg" alt="Class Diagram"  />
    </div>


</div>