@{
    ViewBag.Title = "Home Page";
}
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<style>
    #Narratives {
        border: solid 2px black;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    #classDiagram {
        border: solid 2px black;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>
<div class="jumbotron">
    <h1>Homework 04</h1>
    <p class="lead">u20540176 - DG de Leeuw</p>
   
</div>
<h4>Goal 2: Zero Hunger</h4>
<h2>Narratives</h2>
<br/>
<div class="row" id="#Narratives" >
    <div class="col-lg-12">
        <img src=@Url.Content("~/Content/Narrative1.jpg" ) />
    </div>
    <div class="col-lg-12">
        <img src=@Url.Content("~/Content/Narrative2.jpg")  />
    </div>
    <div class="col-lg-12">
        <img src=@Url.Content("~/Content/Narrative3.jpg")  />
    </div>
    <br />
    <h2>Class Diagram</h2>
    <br />
    <div class="col-lg-12" id="#classDiagram">
        <img src=@Url.Content("~/Content/Classdiagram.jpg") />
    </div>


</div>